#
# This file is created using the command XYZ
# Don't modify anything in here since it will be created / synchronized using the above command
# Store everything specific in the file .envrc_<folder name> which won't be touched during synchronization
#

# Directory specific configuration
[ -f $(pwd)/.envrc_$(basename $(pwd)) ] || touch $(pwd)/.envrc_$(basename $(pwd)) # Create folder specific envrc if it doesn't exists
source_env $(pwd)/.envrc_$(basename $(pwd)) # Load the folder specific envrc

# Environment variables
export KUBECONFIG=$(pwd)/.kube/config


# Configuration folders
[ -d $(pwd)/.envrc_backups ] || mkdir $(pwd)/.envrc_backups # Store .envrc backups here
[ -d $(pwd)/.kube ] || mkdir $(pwd)/.kube # Store Kubernetes (kubectl) configuration here
